.project-card {
  padding: 60px 35px;
  border-radius: 20px;
  /* background: linear-gradient(89deg, #F8BBD0 0%, #E0F7FA 100%); */
  background: skyblue;
}
.project-links {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.card-text {
  margin-bottom: 24px;
}
.project-links a{
  padding: 8px 16px;
  text-decoration: none;
}

.project-links a:hover{
  color: #b61924;
  text-decoration: none;
}
