.call-to-action {
  position: relative;
}

.call-to-action-box {
  padding: 3.5rem 1.25rem;
  border-radius: 20px;
  background: #173e43;
  box-sizing: inherit;
  margin-bottom: -9rem;
}

.level {
  display: grid;
  grid-gap:1px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.level-item {
  color: #ffffff;
  padding: 12px;
}

/* Media Query: Tablet */
@media screen and (max-width: 412px) {
  .call-to-action-box {
      margin-bottom: -18rem;
  }
}
