@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
.App {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  background: #dddfd4;
}

.is-colored {
  /* background: #b61924; */
  background: #3fb0ac;
}

.title {
  margin-bottom: 24px;
  color:#173e43;
}

.projects {
  padding: 80px 24px 144px;
}

footer {
  padding: 188px 24px 64px;
}
