@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
.App {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

.is-colored {
  /* background: #b61924; */
  background: #252A37;
}

.title {
  margin-bottom: 24px;
}

.projects {
  padding: 80px 24px 144px;
}

footer {
  padding: 188px 24px 64px;
}
